<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://use.typekit.net/otf6eva.css">
	<link rel="stylesheet" href="/index.css" />
	<title>creatio > episodes > {{title}}</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li {{#ifEqual title "about"}} class="active" {{/ifEqual}}><a href="/about">about</a></li>
				<li {{#ifEqual title "episodes"}} class="active" {{/ifEqual}}><a href="/episodes">episodes</a></li>
				<li {{#ifEqual title "subscribe"}} class="active" {{/ifEqual}}><a href="/subscribe">subscribe</a></li>
				<li><a target="_blank" href="https://twitter.com/creatiopodcast">@CreatioPodcast</a></li>
			</ul>
		</nav>
	</header>
	<div class="splash">
		<h1>CREATiO</h1>
		<h2>a podcast about making</h2>
		<a href="https://unsplash.com/photos/SshYpuf607g">Photo by Aperture Vintage on Unsplash</a>
	</div>
	<section class="content">
		<a href="/episodes">← All Episodes</a>
		<h1>Episode #{{episode}} - {{title}}</h1>
		<p class="date">{{formatDate "dddd, MMMM D, YYYY" pubDate}}</p>
		<p>{{description}}</p>
		<audio src="{{mediaURL episode title}}" controls></audio>
		{{{ contents }}}
	</section>
	<footer>
		<span>Copyright Bradley J. Spaulding 2018</span>
	</footer>
</body>
</html>
